<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    Choose a number!
</div>
<ul>
    <li><a href="/dice-roll/1">1</a></li>
    <li><a href="/dice-roll/2">2</a></li>
    <li><a href="/dice-roll/3">3</a></li>
    <li><a href="/dice-roll/4">4</a></li>
    <li><a href="/dice-roll/5">5</a></li>
    <li><a href="/dice-roll/6">6</a></li>
</ul>


</body>
</html>